h1 {
    font-family: serif;
    font-size: 36;
}

body {
    text-align: center;
}

img {
    margin-top: 5px;
    max-width: 95%;
    min-width: 50%;
    height: auto;
}

button {
    font-family: serif;
    font-size: 24;
    background-color: #ffff00;
}

.bottom-margin {
  margin-bottom: 10%
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #808080;
  color: white;
  text-align: center;
}